img{
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 5px;
}
.picture_frame{
    width: 110px;
    height: 110px;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}

.description{
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    bottom: 5px;
    margin-left: 5px;
    background-color: rgba(0,0,0,0.3);
    color: highlight;
    position: absolute;
}

.container{
    width: 100%;
    height: 120px;
    background-color: lightblue;
}